In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("16.xlsx",skiprows=3)
df=df.rename(columns={"Période":"Année","Unnamed: 1":"taux-mortalite"})
df

/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Année  taux-mortalite
0    2023            12.7
1    2022            13.3
2    2021            12.8
3    2020            12.2
4    2019            12.3
5    2018            12.0
6    2017            11.9
7    2016            11.6
8    2015            11.8
9    2014            10.6
10   2013            11.2
11   2012            11.2
12   2011            10.8
13   2010            10.7
14   2009            11.2
15   2008            10.5
16   2007            10.0
17   2006            10.5
18   2005            10.7
19   2004            10.4
20   2003            11.2
21   2002            11.0
22   2001            11.3
23   2000            10.8
24   1999            11.0
25   1998            11.2
26   1997            11.1
27   1996            11.3
28   1995            10.8
29   1994            10.7
30   1993            10.5
31   1992            10.8
32   1991            10.8
33   1990            10.8
34   1989            10.9
35   1988            11.1
36   1987            11.2
37   1986            11.4
38   1985            11.5
39   1984            11.3
40   1983            11.7
41   1982            11.0
42   1981            11.6
43   1980            11.4
44   1979            11.2
45   1978            10.7
46   1977            10.7
47   1976            11.4
48   1975            12.3

In [4]:
departement_code= ['16','17','19','23','24','33','40','47','64','79','86','87']
df_passing_dep = []
for dep in departement_code :
    file= dep+".xlsx"
    df= pd.read_excel(file,skiprows=3)
    df =df.rename(columns={"Période":"Année","Unnamed: 1":"taux-mortalite"})
    df["Code du département"] =dep
    df_passing_dep.append(df)
len(df_passing_dep)
df_passing_dep[3]

/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Année  taux-mortalite Code du département
0    2023            16.4                  23
1    2022            18.5                  23
2    2021            17.4                  23
3    2020            17.4                  23
4    2019            16.8                  23
5    2018            16.6                  23
6    2017            16.8                  23
7    2016            16.6                  23
8    2015            16.5                  23
9    2014            15.5                  23
10   2013            15.6                  23
11   2012            15.9                  23
12   2011            16.0                  23
13   2010            15.3                  23
14   2009            16.2                  23
15   2008            15.0                  23
16   2007            15.6                  23
17   2006            15.2                  23
18   2005            15.1                  23
19   2004            15.4                  23
20   2003            16.5                  23
21   2002            15.6                  23
22   2001            15.8                  23
23   2000            16.2                  23
24   1999            16.4                  23
25   1998            16.5                  23
26   1997            16.3                  23
27   1996            15.9                  23
28   1995            15.4                  23
29   1994            16.4                  23
30   1993            16.9                  23
31   1992            16.7                  23
32   1991            15.9                  23
33   1990            17.1                  23
34   1989            16.7                  23
35   1988            16.4                  23
36   1987            17.1                  23
37   1986            17.6                  23
38   1985            17.1                  23
39   1984            16.8                  23
40   1983            17.3                  23
41   1982            16.8                  23
42   1981            17.9                  23
43   1980            16.3                  23
44   1979            17.2                  23
45   1978            17.2                  23
46   1977            16.3                  23
47   1976            17.2                  23
48   1975            17.7                  23

In [5]:
df_concat =  pd.concat(df_passing_dep)
df_concat

    Année  taux-mortalite Code du département
0    2023            12.7                  16
1    2022            13.3                  16
2    2021            12.8                  16
3    2020            12.2                  16
4    2019            12.3                  16
..    ...             ...                 ...
44   1979            12.8                  87
45   1978            12.6                  87
46   1977            12.5                  87
47   1976            12.4                  87
48   1975            12.8                  87

[588 rows x 3 columns]

In [6]:
df_concat.to_csv("taux-mortalite.csv")