In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("16.xlsx",skiprows=3)
df=df.rename(columns={"Période":"Année","Unnamed: 1":"taux-mortalite"})
df

/Users/alisaleh/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Année  taux-mortalite
0    2023            12.7
1    2022            13.3
2    2021            12.8
3    2020            12.2
4    2019            12.3
5    2018            12.0
6    2017            11.9
7    2016            11.6
8    2015            11.8
9    2014            10.6
10   2013            11.2
11   2012            11.2
12   2011            10.8
13   2010            10.7
14   2009            11.2
15   2008            10.5
16   2007            10.0
17   2006            10.5
18   2005            10.7
19   2004            10.4
20   2003            11.2
21   2002            11.0
22   2001            11.3
23   2000            10.8
24   1999            11.0
25   1998            11.2
26   1997            11.1
27   1996            11.3
28   1995            10.8
29   1994            10.7
30   1993            10.5
31   1992            10.8
32   1991            10.8
33   1990            10.8
34   1989            10.9
35   1988            11.1
36   1987            11.2
37   1986            11.4
38   1985            11.5
39   1984            11.3
40   1983            11.7
41   1982            11.0
42   1981            11.6
43   1980            11.4
44   1979            11.2
45   1978            10.7
46   1977            10.7
47   1976            11.4
48   1975            12.3

In [ ]:
departement_code= ['16','17','19','23','24','33','40','47','64','79','86','87']
df_passing_dep = []
for dep in departement_code :
    file= dep+".xlsx"
    df= pd.read_excel(file,skiprows=3)
    df =df.rename(columns={"Période":"Année","Unnamed: 1":"taux-mortalite"})
    df["Code du département"] =dep
    df_passing_dep.append(df)
len(df_passing_dep)
df_passing_dep[3]