In [1]:
import pandas as pd

In [2]:
years = []
for i in range(1994,2024):
    years.append(i)
#df_2023 = pd.read_excel("estimation_population.xls", sheet_name="2022",skiprows=4)
#df_2023
departement_code= ['16','17','19','23','24','33','40','47','64','79','86','87']

In [3]:
df_2023 =  pd.read_excel("estimation_population.xls", sheet_name="2023",skiprows=4)
df_2023 =df_2023[df_2023['Unnamed: 0'].isin(departement_code)]
df_2023_clean = pd.DataFrame()
df_2023_clean[["Code du département","Population 0 à 19 ans","Population 20 à 39 ans","Population 40 à 59 ans","Population 60 à 74 ans","Population 75 ans et plus","Population Total"]] = df_2023[['Unnamed: 0',"0 à 19 ans","20 à 39 ans","40 à 59 ans","60 à 74 ans","75 ans et plus","Total"]]
df_2023_clean["Année"] =2023
df_2023_clean

,Code du département,Population 0 à 19 ans,Population 20 à 39 ans,Population 40 à 59 ans,Population 60 à 74 ans,Population 75 ans et plus,Population Total,Année
15,16,72094.0,69671.0,89892.0,74394.0,44985.0,351036.0,2023
16,17,130134.0,123247.0,168391.0,150530.0,93602.0,665904.0,2023
18,19,45967.0,44643.0,60149.0,52266.0,34052.0,237077.0,2023
23,23,20194.0,18795.0,28721.0,28123.0,17273.0,113106.0,2023
24,24,75930.0,71425.0,104742.0,98395.0,60890.0,411382.0,2023
33,33,383613.0,426124.0,441875.0,277349.0,162476.0,1691437.0,2023
40,40,87180.0,79697.0,115466.0,91695.0,54631.0,428669.0,2023
47,47,68922.0,62257.0,82480.0,69067.0,45583.0,328309.0,2023
64,64,143858.0,143895.0,183999.0,138172.0,87975.0,697899.0,2023
79,79,83748.0,73610.0,98844.0,73953.0,43744.0,373899.0,2023
86,86,100786.0,103207.0,108004.0,80247.0,49290.0,441534.0,2023
87,87,76759.0,79565.0,92345.0,74235.0,47209.0,370113.0,2023

In [4]:
df_passing_years = []
for year in years :
    df  = pd.read_excel("estimation_population.xls", sheet_name=str(year),skiprows=4)
    df =df[df['Unnamed: 0'].isin(departement_code)]
    df_clean =  pd.DataFrame()
    df_clean[["Code du département","Population 0 à 19 ans","Population 20 à 39 ans","Population 40 à 59 ans","Population 60 à 74 ans","Population 75 ans et plus","Population Total"]] = df[['Unnamed: 0',"0 à 19 ans","20 à 39 ans","40 à 59 ans","60 à 74 ans","75 ans et plus","Total"]]
    df_clean["Année"] =year
    df_clean
    df_passing_years.append(df_clean)
print(len(df_passing_years),"okokok")

30 okokok

In [5]:
df_passing_years[27]

,Code du département,Population 0 à 19 ans,Population 20 à 39 ans,Population 40 à 59 ans,Population 60 à 74 ans,Population 75 ans et plus,Population Total,Année
15,16,73016.0,69774.0,91525.0,74444.0,42817.0,351576.0,2021
16,17,131520.0,123379.0,167662.0,150729.0,86089.0,659379.0,2021
18,19,46990.0,44873.0,61621.0,52629.0,32463.0,238576.0,2021
23,23,20767.0,19153.0,29673.0,28624.0,16833.0,115050.0,2021
24,24,77532.0,71845.0,107147.0,98608.0,57554.0,412686.0,2021
33,33,378671.0,419828.0,432657.0,274672.0,149497.0,1655325.0,2021
40,40,87584.0,79286.0,114411.0,90268.0,50123.0,421672.0,2021
47,47,70260.0,62922.0,83839.0,69572.0,43396.0,329989.0,2021
64,64,144582.0,143847.0,183943.0,135799.0,82749.0,690920.0,2021
79,79,85413.0,73728.0,99686.0,73475.0,42126.0,374428.0,2021
86,86,101503.0,102990.0,108269.0,80586.0,46813.0,440161.0,2021
87,87,78033.0,79992.0,93672.0,75325.0,44465.0,371487.0,2021

In [6]:
df_concat =  pd.concat(df_passing_years)
df_concat

,Code du département,Population 0 à 19 ans,Population 20 à 39 ans,Population 40 à 59 ans,Population 60 à 74 ans,Population 75 ans et plus,Population Total,Année
15,16,82489.0,93495.0,82396.0,55834.0,27536.0,341750.0,1994
16,17,128083.0,141594.0,129230.0,95632.0,43721.0,538260.0,1994
18,19,49744.0,60744.0,57025.0,45484.0,22830.0,235827.0,1994
23,23,24868.0,30828.0,29899.0,27425.0,14939.0,127959.0,1994
24,24,83891.0,97458.0,93636.0,75761.0,36368.0,387114.0,1994
...,...,...,...,...,...,...,...,...
47,47,68922.0,62257.0,82480.0,69067.0,45583.0,328309.0,2023
64,64,143858.0,143895.0,183999.0,138172.0,87975.0,697899.0,2023
79,79,83748.0,73610.0,98844.0,73953.0,43744.0,373899.0,2023
86,86,100786.0,103207.0,108004.0,80247.0,49290.0,441534.0,2023
87,87,76759.0,79565.0,92345.0,74235.0,47209.0,370113.0,2023

In [7]:
df_concat.to_csv("population.csv")